@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*, 
*::before, 
*::after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	
}

:root {
	font-family: 'Open Sans', sans-serif;

	--fw-reg: 400;
	--fw-bold: 700;
	--fw-bolder: 800;

	--clr-light: #fff;
	--clr-lightgrey: #eeeeee;
	--clr-dark:  #323330;
	--clr-accent: #0d47a1;


	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.2rem;
	--fs-body: 1rem;
}

/* Typography */
h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}


h1 {
	font-size: var(--fs-h1);

}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

p {
	font-size: var(--fs-body);
}

.container {
	background-color: var(--clr-light);
	padding: 1em;
}

.cv-container {
	background-color: var(--clr-lightgrey);
	padding: 1em;
	display: grid;
	grid-template-columns: 75% auto;
	grid-gap: 1em;
}

/* Header */

.cv-header {
	max-width: 100%;
	
	display: flex;
	justify-content: flex start;
	background-color: var(--clr-accent);
	color: var(--clr-light);
	grid-column: 1 / span 2; 
	grid-row: 1 / 2;
}

.cv-header-div {
	padding: .8em;
}

.cv-header-whoIam {
	margin-top: 1em;
}

/* Main */

.cv-works-div {
	background-color: var(--clr-light);
	padding: .8em;
	display:grid;
	grid-template-rows: auto;
	grid-gap: 1em;
}

.cv-works-title {
	margin-bottom: .5em;
	background-color: var(--clr-light);
}

.cv-works {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 1em;
	background-color: var(--clr-light);
	padding: .8em;
}

.cv-works-name-title {
	margin-bottom: .5em;
}


.cv-experience-div {
	background-color: var(--clr-light);
	padding: .8em;
	border-top: 5px solid var(--clr-lightgrey);
}

.asdf {
	
}

.cv-experience-title {
	margin-bottom: .5em;
}

.cv-experiences {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 1em;
}

.cv-experience-name-title {
	margin-bottom: .5em;
}



.cv-aside {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(3, 1fr);
}

.cv-skills-div {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	padding: .8em;
	grid-row: 1/2;
}

.cv-skills-title {
	margin-bottom: .5em;
}

.cv-education-div {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	padding: .8em;
	grid-row: 2/3;
}

.cv-education-title {
	margin-bottom: .5em;
}

.cv-education {
	margin-bottom: 2em;
}

.cv-education-subtitle {
	margin-bottom: .3em
}

.cv-contact-div {
	background-color: var(--clr-accent);
	color: var(--clr-light);
	padding: .8em;
	grid-row: 3 / 4;
}

.cv-contact-title {
	margin-bottom: .5em;
}